This notebook contains the code for


1.   Generating new workplaces, schools, public places
2.   Assigning lat longs to these places which are strictly within the bounds of the city and follow the population density distribution
3.   Assigning workplaces, schools, public places to individuals with an option for multicore process acceleration

This notebook has been cleaned so that the variables names are not dependent on any city. Next time we need a population, we just need to adjust the files being read and nothing else needs to be changed to generate the output from the notebook

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!pip3 install geopandas

Collecting geopandas
  Downloading https://files.pythonhosted.org/packages/d7/bf/e9cefb69d39155d122b6ddca53893b61535fa6ffdad70bf5ef708977f53f/geopandas-0.9.0-py2.py3-none-any.whl (994kB)
     |████████████████████████████████| 1.0MB 32.3MB/s
Collecting pyproj>=2.2.0
  Downloading https://files.pythonhosted.org/packages/b1/72/d52e9ca81caef056062d71991b0e9b1d16af042245627c5d0e4916a36c4f/pyproj-3.0.1-cp37-cp37m-manylinux2010_x86_64.whl (6.5MB)
     |████████████████████████████████| 6.5MB 39.7MB/s
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.1.5)
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.7.1)
Collecting fiona>=1.8
  Downloading https://files.pythonhosted.org/packages/ea/2a/404b22883298a3efe9c6ef8d67acbf2c38443fa366ee9cd4cd34e17626ea/Fiona-1.8.19-cp37-cp37m-manylinux1_x86_64.whl (15.3MB)
     |████████████████████████████████| 15.3MB 236kB/s
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from pyproj>=2.2.0->geopandas) (2020.12.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2018.9)
Collecting munch
  Downloading https://files.pythonhosted.org/packages/cc/ab/85d8da5c9a45e072301beb37ad7f833cd344e04c817d97e0cc75681d248f/munch-2.5.0-py2.py3-none-any.whl
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Collecting cligj>=0.5
  Downloading https://files.pythonhosted.org/packages/42/1e/947eadf10d6804bf276eb8a038bd5307996dceaaa41cfd21b7a15ec62f5d/cligj-0.7.1-py3-none-any.whl
Collecting click-plugins>=1.0
  Downloading https://files.pythonhosted.org/packages/e9/da/824b92d9942f4e472702488857914bdd50f73021efea15b4cad9aca8ecef/click_plugins-1.1.1-py2.py3-none-any.whl
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.2.0)
Collecting click<8,>=4.0
  Downloading https://files.pythonhosted.org/packages/d2/3d/fa76db83bf75c4f8d338c2fd15c8d33fdd7ad23a9b5e57eb6c5de26b430e/click-7.1.2-py2.py3-none-any.whl (82kB)
     |████████████████████████████████| 92kB 10.2MB/s
Installing collected packages: pyproj, munch, click, cligj, click-plugins, fiona, geopandas
  Found existing installation: click 8.0.0
    Uninstalling click-8.0.0:
      Successfully uninstalled click-8.0.0
Successfully installed click-7.1.2 click-plugins-1.1.1 cligj-0.7.1 fiona-1.8.19 geopandas-0.9.0 munch-2.5.0 pyproj-3.0.1

In [ ]:
!wget https://data.worldpop.org/GIS/Population_Density/Global_2000_2020_1km/2020/IND/ind_pd_2020_1km_ASCII_XYZ.zip
!unzip ind_pd_2020_1km_ASCII_XYZ.zip

--2021-05-22 12:25:41--  https://data.worldpop.org/GIS/Population_Density/Global_2000_2020_1km/2020/IND/ind_pd_2020_1km_ASCII_XYZ.zip
Resolving data.worldpop.org (data.worldpop.org)... 152.78.118.157, ::ffff:152.78.118.157
Connecting to data.worldpop.org (data.worldpop.org)|152.78.118.157|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 53063505 (51M) [application/zip]
Saving to: ‘ind_pd_2020_1km_ASCII_XYZ.zip’

ind_pd_2020_1km_ASC 100%[===================>]  50.60M  1.55MB/s    in 33s

2021-05-22 12:26:15 (1.53 MB/s) - ‘ind_pd_2020_1km_ASCII_XYZ.zip’ saved [53063505/53063505]

Archive:  ind_pd_2020_1km_ASCII_XYZ.zip
  inflating: ind_pd_2020_1km_ASCII_XYZ.csv

In [ ]:
import pandas as pd
import numpy as np
import geopandas as gpd
import random
from shapely.geometry import Point, MultiPoint
from shapely.ops import unary_union

from tqdm import tqdm
tqdm.pandas()

/usr/local/lib/python3.7/dist-packages/tqdm/std.py:658: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

In [ ]:
population_density_data = pd.read_csv("ind_pd_2020_1km_ASCII_XYZ.csv")
columns_rename = {"X":"longitude", "Y":"latitude", "Z":"population_density"}
population_density_data['X'] = population_density_data['X'].round(6)
population_density_data['Y'] = population_density_data['Y'].round(6)
population_density_data.rename(columns_rename, axis=1, inplace=True)
population_density_data['point_object'] = population_density_data.progress_apply(lambda x : Point(x['longitude'], x['latitude']), axis=1)
population_density_data

100%|██████████| 4010402/4010402 [01:43<00:00, 38797.65it/s]

         longitude  ...                         point_object
0        77.827916  ...           POINT (77.827916 35.50375)
1        77.836250  ...   POINT (77.83625000000001 35.50375)
2        77.844583  ...           POINT (77.844583 35.50375)
3        77.819583  ...  POINT (77.81958299999999 35.495417)
4        77.827916  ...          POINT (77.827916 35.495417)
...            ...  ...                                  ...
4010397  93.827916  ...           POINT (93.827916 6.762083)
4010398  93.836250  ...   POINT (93.83625000000001 6.762083)
4010399  93.819583  ...    POINT (93.81958299999999 6.75375)
4010400  93.827916  ...            POINT (93.827916 6.75375)
4010401  93.836250  ...    POINT (93.83625000000001 6.75375)

[4010402 rows x 4 columns]

In [ ]:
def add_point(latitude, longitude):
    distances = pow(population_density_data['latitude']-latitude, 2) + pow(population_density_data['longitude']-longitude,2)
    sorted_df = population_density_data.loc[distances.sort_values().index]
    mean_population_density = sorted_df.iloc[:4]['population_density'].mean()
    
    new_row_index = len(population_density_data)
    
    population_density_data.at[new_row_index, 'longitude'] =  longitude
    population_density_data.at[new_row_index, 'latitude'] = latitude
    population_density_data.at[new_row_index, 'population_density'] = mean_population_density
    population_density_data.at[new_row_index, 'point_object'] = Point(longitude, latitude)

def get_lat_long_samples(n, polygon):
    subset = population_density_data[population_density_data['point_object'].progress_apply(polygon.contains)]
    
    if(len(subset)==0):
        raise Exception("No points within the given polygon")
    
    sample = subset.sample(weights='population_density', n=(n*10), replace=True).copy()
    
    sample.reset_index(drop=True, inplace=True)
    
    sample['latitude'] = sample['latitude'] + np.random.uniform(-0.015, 0.015, size=sample.shape[0])
    
    sample['longitude'] = sample['longitude'] + np.random.uniform(-0.015, 0.015, size=sample.shape[0])
    
    points = sample.progress_apply(lambda x : Point(x['longitude'], x['latitude']), axis=1)
    
    contained = points.progress_apply(polygon.contains)
    
    return sample[contained][['longitude', 'latitude']].sample(n, replace=True).values

In [ ]:
admin_units = gpd.read_file("https://raw.githubusercontent.com/datameet/Municipal_Spatial_Data/master/Mumbai/BMC_Wards.geojson")
admin_units.sort_values(by='name', inplace=True)
admin_units.reset_index(drop=True, inplace=True)
admin_units

    gid name                                           geometry
0     1    A  MULTIPOLYGON (((72.84025 18.94881, 72.84030 18...
1     2    B  MULTIPOLYGON (((72.84456 18.96342, 72.84461 18...
2     3    C  MULTIPOLYGON (((72.83198 18.96174, 72.83197 18...
3     4    D  MULTIPOLYGON (((72.81873 18.96901, 72.81878 18...
4     5    E  MULTIPOLYGON (((72.84677 18.98183, 72.84658 18...
5     8  F/N  MULTIPOLYGON (((72.87091 19.05119, 72.87103 19...
6     6  F/S  MULTIPOLYGON (((72.85625 19.01059, 72.85630 19...
7     9  G/N  MULTIPOLYGON (((72.86699 19.05237, 72.86738 19...
8     7  G/S  MULTIPOLYGON (((72.82689 19.01942, 72.82691 19...
9    18  H/E  MULTIPOLYGON (((72.85932 19.08400, 72.85932 19...
10   23  H/W  MULTIPOLYGON (((72.84281 19.09042, 72.84265 19...
11   19  K/E  MULTIPOLYGON (((72.85272 19.14252, 72.85274 19...
12   14  K/W  MULTIPOLYGON (((72.78219 19.13248, 72.78170 19...
13   24    L  MULTIPOLYGON (((72.90801 19.10814, 72.90733 19...
14   16  M/E  MULTIPOLYGON (((72.93774 19.06674, 72.93881 19...
15   17  M/W  MULTIPOLYGON (((72.90391 19.07285, 72.90416 19...
16   10    N  MULTIPOLYGON (((72.91670 19.10911, 72.91659 19...
17   21  P/N  MULTIPOLYGON (((72.79596 19.22451, 72.79629 19...
18   20  P/S  MULTIPOLYGON (((72.83770 19.17933, 72.83789 19...
19   11  R/C  MULTIPOLYGON (((72.78986 19.26147, 72.78993 19...
20   15  R/N  MULTIPOLYGON (((72.85493 19.26995, 72.85503 19...
21   22  R/S  MULTIPOLYGON (((72.88656 19.21429, 72.88660 19...
22   12    S  MULTIPOLYGON (((72.93438 19.16536, 72.93531 19...
23   13    T  MULTIPOLYGON (((72.94165 19.18778, 72.94194 19...

In [ ]:
combined_boundary = unary_union(admin_units['geometry'])

In [ ]:
within_combined_boundary_indicies = population_density_data['point_object'].progress_apply(combined_boundary.contains)

100%|██████████| 4010402/4010402 [00:16<00:00, 238006.65it/s]

In [ ]:
population_density_data = population_density_data[within_combined_boundary_indicies].reset_index(drop=True)

In [ ]:
synthetic_population = pd.read_csv("/content/drive/MyDrive/syndata_ism/mumbai/base_population_data/with_hlat_hlong_job.csv")
synthetic_population

          Unnamed: 0  mem_id  ... PublicTransport_Jobs  Adherence_to_Intervention
0                  0       1  ...                    1                        0.9
1                  1       1  ...                    1                        0.9
2                  2       2  ...                    1                        0.0
3                  3       2  ...                    1                        0.0
4                  4       3  ...                    1                        0.4
...              ...     ...  ...                  ...                        ...
12442367    12442367       1  ...                    1                        1.0
12442368    12442368       1  ...                    1                        1.0
12442369    12442369       1  ...                    1                        1.0
12442370    12442370       1  ...                    1                        1.0
12442371    12442371       1  ...                    1                        1.0

[12442372 rows x 21 columns]

In [ ]:
import numpy as np
import pandas as pd
from multiprocessing import Pool
import math
import logging

def parallelize_dataframe(df, func, n_cores=8):
	df_split = np.array_split(df, n_cores)
	pool = Pool(n_cores)
	df = pd.concat(pool.map(func, df_split))
	pool.close()
	pool.join()
	return df

class Places:
	def __init__(self, city_id, city_population, n_process = 1):
		assert(type(city_id)==int)
		self.city_id = city_id
		self.city_population = city_population
		self.n_process = n_process

	def generate_workplaces(self, workplace_type_list):
		n_random_workplaces = int(self.city_population * np.random.normal(0.5,0.1)/100)
		random_workplace_types = np.random.choice(workplace_type_list, n_random_workplaces, replace=True)
		workplace_types = list(random_workplace_types)+list(set(workplace_type_list))+['Teachers']
		lat_lon_pairs = get_lat_long_samples(len(workplace_types), combined_boundary)
		workplace_lats = lat_lon_pairs.T[1]
		workplace_longs = lat_lon_pairs.T[0]
		workplace_names = [2*pow(10,12)+self.city_id*pow(10,9)+counter for counter in range(len(workplace_types))]
		self.workplaces = pd.DataFrame([workplace_names, workplace_types, workplace_lats, workplace_longs]).T
		self.workplaces.columns = ['workplace_name', 'workplace_type', 'workplace_lat', 'workplace_long']

	def generate_schools(self):
		teachers_workplaces = self.workplaces[self.workplaces['workplace_type']=='Teachers']
		self.schools = pd.DataFrame([teachers_workplaces['workplace_name'], teachers_workplaces['workplace_lat'], teachers_workplaces['workplace_long']]).T.copy()
		self.schools.columns = ['school_name', 'school_lat', 'school_long']
		self.schools['school_type'] = pd.Series(['school' for _ in range(self.schools.shape[1])])

	def generate_public_places(self):
		public_places_number = int(self.city_population * np.random.normal(0.5,0.1)/1000)
		lat_lon_pairs = get_lat_long_samples(public_places_number, combined_boundary)
		public_place_lats = lat_lon_pairs.T[1]
		public_place_longs = lat_lon_pairs.T[0]
		public_place_names = [3*pow(10,12)+self.city_id*pow(10,9)+counter for counter in range(public_places_number)]
		public_place_types = np.random.choice(['park', 'mall', 'gym'], public_places_number, replace=True)
		self.public_places = pd.DataFrame([public_place_names, public_place_types, public_place_lats, public_place_longs]).T
		self.public_places.columns = ['public_place_name', 'public_place_type', 'public_place_lat', 'public_place_long']

	def save_places(self):
		self.workplaces.to_csv(f"workplaces_{self.city_id}.csv")
		self.schools.to_csv(f"schools_{self.city_id}.csv")
		self.public_places.to_csv(f"public_places_{self.city_id}.csv")

	def assign_workplace_individual(self, individual):
		if(individual['WorksAtSameCategory']):
			possible_workplaces = self.workplaces[(self.workplaces['workplace_type']==individual['JobLabel'])]
		else:
			possible_workplaces = self.workplaces[(self.workplaces['workplace_type']!=individual['JobLabel'])]
		distances = 1/(pow(possible_workplaces['workplace_lat']-individual['H_Lat'],2)+pow(possible_workplaces['workplace_long']-individual['H_Lon'],2)).astype(np.float64).apply(np.sqrt)
		try:
			return possible_workplaces.sample(weights = distances).iloc[0][['workplace_name', 'workplace_lat', 'workplace_long']]
		except exception as ex:
			logging.exception(f"{str(dict(individual))}_{str(possible_workplaces)}", exc_info=ex)
			return self.workplaces.sample().iloc[0][['workplace_name', 'workplace_lat', 'workplace_long']]


	def _assign_workplaces(self, population):
		return population.progress_apply(self.assign_workplace_individual, axis=1)

	def assign_workplaces(self, adult_population):
		to_different_category = 0.05
		same_category = np.random.random(size=len(adult_population))>to_different_category
		adult_population['WorksAtSameCategory'] = same_category
		adult_population[['WorkPlaceID', 'W_Lat', 'W_Lon']] = parallelize_dataframe(adult_population, self._assign_workplaces, self.n_process)		
		return adult_population

	def assign_school_individual(self, individual):
		distances = 1/(pow(self.schools['school_lat']-individual['H_Lat'],2)+pow(self.schools['school_long']-individual['H_Lon'],2)).astype(np.float64).apply(np.sqrt)
		return self.schools.sample(weights=distances).iloc[0][['school_name', 'school_lat', 'school_long']]

	def _assign_schools(self, population):
		return population.progress_apply(self.assign_school_individual, axis=1)

	def assign_schools(self, children_population):
		children_population[['school_id', 'school_lat', 'school_long']] = parallelize_dataframe(children_population, self._assign_schools, self.n_process)
		return children_population

	def assign_public_place_individual(self, individual):
		distances = 1/(pow(self.public_places['public_place_lat']-individual['H_Lat'],2)+pow(self.public_places['public_place_long']-individual['H_Lon'],2)).astype(np.float64).apply(np.sqrt)
		return self.public_places.sample(weights=distances).iloc[0][['public_place_name', 'public_place_lat', 'public_place_long']]
	
	def _assign_public_places(self, population):
		return population.progress_apply(self.assign_public_place_individual, axis=1)

	def assign_public_places(self, population):
		population[['public_place_id', 'public_place_lat', 'public_place_long']] = parallelize_dataframe(population, self._assign_public_places, self.n_process)
		return population

In [ ]:
synthetic_population = synthetic_population.sample(n=10000).reset_index()

n_processes = 16 #Multiprocessing Adjustments

places_object = Places(1, len(synthetic_population), n_processes)

In [ ]:
synthetic_population.drop(synthetic_population.columns[0], axis=1, inplace=True)
synthetic_population.drop(synthetic_population.columns[0], axis=1, inplace=True)
synthetic_population

      mem_id  gender  ...  PublicTransport_Jobs Adherence_to_Intervention
0          2  female  ...                     1                       0.0
1          3  female  ...                     1                       0.4
2          2  female  ...                     1                       0.9
3          2  female  ...                     1                       0.1
4          5    male  ...                     1                       0.4
...      ...     ...  ...                   ...                       ...
9995       3  female  ...                     1                       1.0
9996       3  female  ...                     1                       1.0
9997       2  female  ...                     1                       0.2
9998       1    male  ...                     1                       0.1
9999       2  female  ...                     1                       1.0

[10000 rows x 20 columns]

In [ ]:
places_object.generate_workplaces(list(synthetic_population['JobLabel']))
places_object.generate_schools()
places_object.generate_public_places()

100%|██████████| 556/556 [00:00<00:00, 1267.26it/s]
100%|██████████| 1150/1150 [00:00<00:00, 36722.11it/s]
100%|██████████| 1150/1150 [00:00<00:00, 1280.76it/s]
100%|██████████| 556/556 [00:00<00:00, 1268.56it/s]
100%|██████████| 30/30 [00:00<00:00, 4810.90it/s]
100%|██████████| 30/30 [00:00<00:00, 1142.80it/s]

In [ ]:
adults = synthetic_population[synthetic_population['age']>18]
adults = places_object.assign_workplaces(adults)

children = synthetic_population[synthetic_population['age']<19]
children = places_object.assign_schools(children)

total_population = pd.concat([adults,children], axis=0)
total_population = places_object.assign_public_places(total_population)

total_population#.to_csv("pune_123.csv")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
100%|██████████| 1800/1800 [00:30<00:00, 59.25it/s]
100%|██████████| 1800/1800 [00:31<00:00, 56.45it/s]
100%|██████████| 1800/1800 [00:31<00:00, 56.46it/s]
100%|██████████| 1800/1800 [00:31<00:00, 56.34it/s]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
100%|██████████| 700/700 [00:09<00:00, 70.75it/s]
100%|██████████| 700/700 [00:10<00:00, 68.47it/s]
100%|██████████| 700/700 [00:10<00:00, 68.68it/s]
100%|██████████| 700/700 [00:10<00:00, 67.98it/s]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
100%|██████████| 2500/2500 [00:37<00:00, 67.06it/s]
100%|██████████| 2500/2500 [00:37<00:00, 66.93it/s]
100%|██████████| 2500/2500 [00:37<00:00, 66.09it/s]
100%|██████████| 2500/2500 [00:37<00:00, 66.11it/s]

         index  Unnamed: 0  ...  public_place_lat public_place_long
0       111916      111916  ...         19.021563         72.841455
2      8629631     8629631  ...         19.176185         72.808249
3      3199042     3199042  ...         19.021563         72.841455
6      7628841     7628841  ...         19.176185         72.808249
7      5541794     5541794  ...         18.961757         72.814448
...        ...         ...  ...               ...               ...
9976  11276792    11276792  ...         19.021563         72.841455
9987   3511197     3511197  ...         19.176185         72.808249
9989   6236989     6236989  ...         18.961757         72.814448
9995   8104481     8104481  ...         19.176185         72.808249
9996   4275867     4275867  ...         19.021563         72.841455

[10000 rows x 32 columns]